<h1>Your Cart</h1>
<div id="cart">
  <table>
    <tr>
      <th>Product</th>
      <th>Unit Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
    <%= render :partial => "item", 
               :collection => cart.items.by_product_name %>

    <tr>
      <td>ORDER TOTAL:</td>
      <td id="total">
        <em><%= cart.total %></em>
      </td>
    </tr>
  </table>
</div>

<%= link_to "Destroy Cart", cart_path(cart), :method => :delete %>
